marius.el
extras/setup-textmate.el
extras/setup-magit.el
extras/yaml-mode.el
elpa/*
auto-save-list/*
/readme.el
/extras/goto-symbol.el
/extras/setup-testing.el
/extras/tags.el
/extras/setup-keybindings.el
session.*
url
*elc
contrib/multiple-cursors/*.elc