[submodule "contrib/expand-region"]
	path = contrib/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "contrib/rvm.el"]
	path = contrib/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "src/org-mode"]
	path = src/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "contrib/rinari"]
	path = contrib/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "contrib/multiple-cursors"]
	path = contrib/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "contrib/restclient"]
	path = contrib/restclient
	url = https://github.com/pashky/restclient.el.git
